/* cores: #2b4b44 (azul), #f9f0e5 (bege), #ffefdb (bege escurinho), #42635b (azul apagado) */

* {
  font-family: "Lexend Deca", sans-serif;
}

#button {
  border-color: #2b4b44;
  color: #2b4b44;
}

#button:hover {
  border-color: #2b4b44;
  background-color: #2b4b44;
  color: #a8d1c8;
}

#button-sair {
  border-color: #882727;
  color: #882727;
}

#button-sair:hover {
  border-color: #882727;
  background-color: #882727;
  color: #ff6868;
}

input {
  border-radius: 5px;
}

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings:
    "wdth" 100;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "BioRhyme", serif;
  color: #333;
  text-align: center;
}

.container-my-5 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.botao {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 3px 3px 0 rgba(172, 172, 172, 0.8);
  transition: all 0.3s ease-in-out;
  margin: 20px;
  font-size: 1rem;
}

.botao:hover {
  background-color: #cecdde42;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: .6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

