/* cores: #2b4b44 (azul), #f9f0e5 (bege), #ffefdb (bege escurinho), #42635b (azul apagado) */

:root {
  --primary: #007bff;
  --secondary: #6c757d;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
}

body {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

body.mostrar {
  opacity: 1;
  transform: translateY(0);
}

#home {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome1.png");
  background-size: cover;
  background-position: center;
}

#topicos {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome2.png");
  background-size: cover;
  background-position: center;
  align-items: start;
  justify-items: center;
  gap: 20px;
}

#sobre {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome3.png");
  background-size: cover;
  background-position: center;
  align-items: start;
  font-size: 1.5rem;
  justify-items: center;
}

h1 {
  font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 10rem;
  color: #fff5e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  color: #42635b;
  
}

h3 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-style: none;
  font-size: 7rem;
  color: #fff5e8;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease; /* aq nas section, elas pertencem ao js, ja que vai ser ele qm vai identificar esse objeto e executa-lo **/
}

section.active {
  opacity: 1;
  transform: translateY(0);
}

.botao {
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 3px 3px 0 rgba(172, 172, 172, 0.8);
  transition: all 0.3s ease-in-out;
  margin: 20px;
  font-size: 1rem;
}

.botao:hover {
  background-color: #cecdde42;
  color: white;
}

/* suspeito alteraçoes */ h1, h2, h3, p {
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* p ficar com uma sombra qnd o user passar o mouse */
  cursor: default; 
}

h1:hover, h2:hover, h3:hover, p:hover, .topico-item:hover, .texto2 ul li:hover {
  transform: translateY(-5px); /* desloca o texto pra cima */
  text-shadow: 3px 3px 10px rgba(61, 61, 61, 0.3);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

#topicos .titulo {
  margin-top: 80px; /* aproxima os itens do título */
}

#topicos .topico-item {
  padding: 15px;
  border-radius: 8px;
  color: #42635b;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

#topicos .topico-item:nth-child(5),
#topicos .topico-item:nth-child(6),
#topicos .topico-item:nth-child(7) {
    visibility: hidden;
}


#sobre h3 {
  color: #fff5e8;
  text-align: center;
  margin-top: 130px !important; /* aproxima o parágrafo do h3 */
}

#sobre p {
  color: #fff5e8;
  text-align: center;
  margin-bottom: 190px !important; /* aproxima o parágrafo do h3 */
}

/* responsividade */

/* Tablet */
@media(max-width:1024px){
  #topicos .topico-item { 
    grid-column: span 6;
  }

  #home h1 {
    font-size: 4rem;
  }

  #sobre h3, 
  #sobre p { 
    grid-column: 4 / span 4;
  }

  /* Aumentando fonte em tablet */
  #sobre h3 { font-size: 4rem; margin-top: 300px; } 
  #sobre p { font-size: 1rem; margin-bottom: 300px;}
}

/* Mobile */
@media(max-width:768px){
  #topicos .topico-item { 
    grid-column: span 12 !important; 
    font-size: 1rem;
  }

  #home h1 {
    font-size: 5rem;
  }

  #sobre h3, 
  #sobre p { 
    grid-column: span 12; 
  }

  /* Aumentando fonte em celular */
  #sobre h3 { font-size: 5rem; margin-top: 100px;}
  #sobre p { font-size: 1rem; line-height: 1.6; margin-bottom: 500px;}
}

