nav.menu-lateral {
  width: 70px;
  height: 100%;
  background-color: #42635b;
  padding: 40px 0 20px;
  box-shadow: 3px 0 0 #5fa898;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 2000;
}

nav.menu-lateral:hover {
  width: 300px;
}

.btn-expandir {
  width: 100%;
}

.btn-expandir>i {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 20px;
}

ul li.item-menu {
  transition: .7s;
}

ul li.item-menu:hover {
  background-color: #5fa898;
}

ul li.item-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 40px;
  padding-right: 90px;
}

ul li.item-menu a .icon>i {
  font-size: 25px;
  width: 100%;
}